Repository mostoriginaldudes/WhistleOn, pull requests merged in 2021-06, with the labels that each got.

#46 프론트엔드 디렉토리 구조 변경 작업
  whistleon-front/src/components/App.jsx
  whistleon-front/src/components/EventButton/event-button.scoped.scss
  whistleon-front/src/components/EventButton/index.jsx
  whistleon-front/src/components/Home/home.scoped.scss
  whistleon-front/src/components/Home/index.jsx
  whistleon-front/src/components/InputUnderline/index.jsx
  whistleon-front/src/components/InputUnderline/input-underline.scoped.scss
  whistleon-front/src/components/LinkButton/index.jsx
  whistleon-front/src/components/LinkButton/link-button.scoped.scss
  whistleon-front/src/components/Login/index.jsx
  whistleon-front/src/components/Login/login.scoped.scss
  whistleon-front/src/components/PostCode/index.jsx
  whistleon-front/src/components/PostCode/post-code.scoped.scss
  whistleon-front/src/components/Signup/index.jsx
  whistleon-front/src/components/Signup/signup.scoped.scss
  whistleon-front/src/style/_color.scss
  whistleon-front/src/style/_mixin.scss
  whistleon-front/src/style/_root.scss
Labels: directory, frontend, react, scss, style

#51 SCSS 리팩토링 작업 및 깨지는 레이아웃 스타일 수정
  whistleon-front/package-lock.json
  whistleon-front/package.json
  whistleon-front/src/components/EventButton/event-button.scoped.scss
  whistleon-front/src/components/Home/home.scoped.scss
  whistleon-front/src/components/InputUnderline/input-underline.scoped.scss
  whistleon-front/src/components/LinkButton/link-button.scoped.scss
  whistleon-front/src/components/Login/index.jsx
  whistleon-front/src/components/Login/login.scoped.scss
  whistleon-front/src/components/PostCode/index.jsx
  whistleon-front/src/components/PostCode/post-code.scoped.scss
  whistleon-front/src/components/Signup/index.jsx
  whistleon-front/src/components/Signup/signup.scoped.scss
  whistleon-front/src/style/_mixin.scss
  whistleon-front/src/style/_root.scss
  whistleon-front/src/style/main.scss
  whistleon-front/webpack.config.js
Labels: frontend, scss, signup, style

#53 #52 Fix restore deleted webpack.config.js
  whistleon-front/webpack.config.js
Labels: frontend, webpack

#56 #55 Update code format with google formatter
  whistleon-back/src/main/java/io/hala/whistleon/WhistleonApplication.java
  whistleon-back/src/main/java/io/hala/whistleon/common/config/SwaggerConfig.java
  whistleon-back/src/main/java/io/hala/whistleon/common/config/WebConfig.java
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/CustomException.java
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/ExceptionCode.java
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/ExceptionResponse.java
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/GlobalExceptionHandler.java
  whistleon-back/src/main/java/io/hala/whistleon/common/interceptor/JwtInterceptor.java
  whistleon-back/src/main/java/io/hala/whistleon/common/util/MailSendHelper.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/AuthController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/TestController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/UserController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/LoginResponseDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/SigninRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/SignupRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/Match.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/MatchRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/MatchStatus.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/TeamMatch.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/TeamMatchRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/TeamStatus.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/Vote.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/VoteStatus.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/notice/Notice.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/notice/NoticeRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/qna/Qna.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/qna/QnaReply.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/qna/QnaReplyRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/Team.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamNotice.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamNoticeReply.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamNoticeReplyRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamNoticeRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamStat.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/AuthCode.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/AuthRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/Position.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/Role.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/User.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/UserRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/UserStat.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/JwtService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/JwtServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/WhistleonApplicationTests.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/match/MatchTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/match/VoteTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/notice/NoticeTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/qna/QnaTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/team/TeamNoticeTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/team/TeamTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/user/UserTest.java
  whistleon-back/src/test/java/io/hala/whistleon/service/login/JwtServiceImplTest.java
Labels: backend, config

#57 스프링 시큐리티 및 jwt 토큰을 이용한 인증 인가 구현
  whistleon-back/build.gradle
  whistleon-back/src/main/java/io/hala/whistleon/common/config/SecurityConfig.java
  whistleon-back/src/main/java/io/hala/whistleon/common/config/WebConfig.java
  whistleon-back/src/main/java/io/hala/whistleon/common/interceptor/JwtInterceptor.java
  whistleon-back/src/main/java/io/hala/whistleon/common/jwt/JwtAccessDeniedHandler.java
  whistleon-back/src/main/java/io/hala/whistleon/common/jwt/JwtAuthenticationEntryPoint.java
  whistleon-back/src/main/java/io/hala/whistleon/common/jwt/JwtCustomFilter.java
  whistleon-back/src/main/java/io/hala/whistleon/common/jwt/JwtTokenProvider.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/AuthController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/SignupRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/TokenDto.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/User.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/JwtService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/JwtServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/UserDetailsServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/service/AuthServiceTest.java
  whistleon-back/src/test/java/io/hala/whistleon/service/login/JwtServiceImplTest.java
Labels: authentication, authorization, backend, spring boot

#58 #54 인가 관련 prefix 업데이트 및 불필요한 코드 삭제
  whistleon-back/src/main/java/io/hala/whistleon/controller/AuthController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/TestController.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/UserDetailsServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/service/AuthServiceTest.java
Labels: authorization, backend

#59 SCSS import문 중복되는 문제 해결
  whistleon-front/src/components/EventButton/event-button.scoped.scss
  whistleon-front/src/components/Home/home.scoped.scss
  whistleon-front/src/components/InputUnderline/input-underline.scoped.scss
  whistleon-front/src/components/LinkButton/link-button.scoped.scss
  whistleon-front/src/components/Login/login.scoped.scss
  whistleon-front/src/components/PostCode/post-code.scoped.scss
  whistleon-front/src/components/Signup/signup.scoped.scss
  whistleon-front/src/style/main.scss
  whistleon-front/webpack.config.js
Labels: config, frontend, scss, style, webpack

#61 Login Response 변경
  whistleon-back/src/main/java/io/hala/whistleon/controller/AuthController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/UserController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/LoginResponseDto.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/service/AuthServiceTest.java
Labels: api, authentication, backend

#63 마이페이지 조회 및 수정 요청시 비밀번호 체크 api 완료
  whistleon-back/src/main/java/io/hala/whistleon/common/util/PrincipalHelper.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/UserController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/CheckUserRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/UserInfoResponseDto.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/user/UserTest.java
Labels: api, backend, mypage, test code

#64 마이페이지 수정 및 회원 삭제 api 구현
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/ExceptionCode.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/UserController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/UpdateUserInfoRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/User.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserServiceImpl.java
Labels: api, backend, mypage

#67 기능 추가 전, Signup Component 중복 코드 제거 및 모듈화를 통한 가독성 향상 작업
  whistleon-front/src/components/EventButton/index.jsx
  whistleon-front/src/components/InputUnderline/index.jsx
  whistleon-front/src/components/Login/index.jsx
  whistleon-front/src/components/PostCode/index.jsx
  whistleon-front/src/components/Signup/Birthday.jsx
  whistleon-front/src/components/Signup/Buttons.jsx
  whistleon-front/src/components/Signup/Email.jsx
  whistleon-front/src/components/Signup/Location.jsx
  whistleon-front/src/components/Signup/Name.jsx
  whistleon-front/src/components/Signup/Nickname.jsx
  whistleon-front/src/components/Signup/Password.jsx
  whistleon-front/src/components/Signup/PhoneNum.jsx
  whistleon-front/src/components/Signup/Physical.jsx
  whistleon-front/src/components/Signup/Position.jsx
  whistleon-front/src/components/Signup/SelfDescription.jsx
  whistleon-front/src/components/Signup/index.jsx
  whistleon-front/src/components/Signup/signup.scoped.scss
  whistleon-front/src/style/_root.scss
Labels: frontend, react, scss, signup, style

#72 전체 컴포넌트 수정 및 개선사항 반영
  whistleon-front/src/components/EventButton/index.jsx
  whistleon-front/src/components/Home/index.jsx
  whistleon-front/src/components/InputUnderline/index.jsx
  whistleon-front/src/components/LinkButton/index.jsx
  whistleon-front/src/components/Login/index.jsx
  whistleon-front/src/components/PostCode/index.jsx
  whistleon-front/src/components/Signup/Birthday.jsx
  whistleon-front/src/components/Signup/Buttons.jsx
  whistleon-front/src/components/Signup/Email.jsx
  whistleon-front/src/components/Signup/Location.jsx
  whistleon-front/src/components/Signup/Name.jsx
  whistleon-front/src/components/Signup/Nickname.jsx
  whistleon-front/src/components/Signup/Password.jsx
  whistleon-front/src/components/Signup/PhoneNum.jsx
  whistleon-front/src/components/Signup/Physical.jsx
  whistleon-front/src/components/Signup/Position.jsx
  whistleon-front/src/components/Signup/SelfDescription.jsx
  whistleon-front/src/components/Signup/index.jsx
Labels: frontend, performance, react, validation

#76 QnA API
  whistleon-back/src/main/java/io/hala/whistleon/common/util/PrincipalHelper.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/QnaController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/QnaInfoResponseDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/QnaRegistRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/QnaRegistResponseDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/QnaReplyRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/QnaReplyResponseDto.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/qna/Qna.java
  whistleon-back/src/main/java/io/hala/whistleon/service/qna/QnaService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/qna/QnaServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/qna/QnaTest.java
Labels: api, backend, qna

#78 회원가입 폼 유효성 검사 구현 완료
  whistleon-front/src/components/InputUnderline/index.jsx
  whistleon-front/src/components/InputUnderline/input-underline.scoped.scss
  whistleon-front/src/components/PostCode/index.jsx
  whistleon-front/src/components/Signup/Birthday.jsx
  whistleon-front/src/components/Signup/Email.jsx
  whistleon-front/src/components/Signup/FormValidation.js
  whistleon-front/src/components/Signup/Location.jsx
  whistleon-front/src/components/Signup/Name.jsx
  whistleon-front/src/components/Signup/Nickname.jsx
  whistleon-front/src/components/Signup/Password.jsx
  whistleon-front/src/components/Signup/PhoneNum.jsx
  whistleon-front/src/components/Signup/Physical.jsx
  whistleon-front/src/components/Signup/Position.jsx
  whistleon-front/src/components/Signup/SelfDescription.jsx
  whistleon-front/src/components/Signup/ValidationError.js
  whistleon-front/src/components/Signup/index.jsx
  whistleon-front/src/components/Signup/signup.scoped.scss
  whistleon-front/src/style/_mixin.scss
  whistleon-front/src/utils/date.js
  whistleon-front/src/utils/error.js
  whistleon-front/webpack.config.js
Labels: frontend, hook, react, scss, signup, style, validation, webpack
