Repository mostoriginaldudes/WhistleOn, pull requests merged in 2021-03, with the labels that each got.

#8 ⚽️ Add entity and test code about user domain
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/Position.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/Role.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/User.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/UserRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/UserStat.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/UserStatRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/JwtServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/user/UserTest.java
Labels: backend, entity, spring boot, test code

#9 🚥 Update user domain code
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/User.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/UserStatRepository.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/user/UserTest.java
Labels: backend, entity, spring boot, test code

#10 ⚽️ Add entity and test code about team
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/Team.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamStat.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/team/TeamTest.java
Labels: backend, entity, spring boot, test code

#11 ⚽️ Add entity and test code about notice
  whistleon-back/src/main/java/io/hala/whistleon/domain/notice/Notice.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/notice/NoticeRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/Role.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/User.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/notice/NoticeTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/team/TeamTest.java
Labels: backend, entity, spring boot, test code

#13 ⚽️ Add entity and test code about qna
  whistleon-back/src/main/java/io/hala/whistleon/domain/qna/Qna.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/qna/QnaReply.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/qna/QnaReplyRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/qna/QnaRepository.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/qna/QnaTest.java
Labels: backend, entity, spring boot, test code

#14 ⚽️ Add login view
  whistleon-front/src/components/App.jsx
  whistleon-front/src/components/HomeView.jsx
  whistleon-front/src/components/Login.jsx
  whistleon-front/src/components/LoginView.jsx
  whistleon-front/src/components/SignupView.jsx
  whistleon-front/src/components/common/EventButton.jsx
  whistleon-front/src/components/common/InputUnderline.jsx
  whistleon-front/src/style/common/_mixin.scss
  whistleon-front/src/style/common/_root.scss
  whistleon-front/src/style/common/event-button.scss
  whistleon-front/src/style/common/input-underline.scss
  whistleon-front/src/style/login-view.scss
Labels: frontend, react, style

#17 ⚽️ Add entities about team notice and team notice reply.
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/Team.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamNotice.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamNoticeReply.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamNoticeReplyRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/TeamNoticeRepository.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/team/TeamNoticeTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/team/TeamTest.java
Labels: backend, entity, spring boot, test code

#18 Add entities about match
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/Match.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/MatchRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/MatchStatus.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/TeamMatch.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/TeamMatchRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/TeamStatus.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/match/MatchTest.java
Labels: backend, entity, spring boot, test code

#20 ⚽️ Add entities about vote
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/Vote.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/VoteRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/match/VoteStatus.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/match/VoteTest.java
Labels: backend, entity, spring boot, test code

#21 🚥 Update one-to-many field in team entity
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/Team.java
Labels: backend, entity, spring boot
