Repository mostoriginaldudes/WhistleOn, pull requests merged in 2021-05, with the labels that each got.

#25 Have finished setting up ESlint, Prettier and Husky
  whistleon-front/.eslintignore
  whistleon-front/.eslintrc.js
  whistleon-front/.prettierignore
  whistleon-front/.prettierrc
  whistleon-front/package-lock.json
  whistleon-front/package.json
  whistleon-front/src/components/HomeView.jsx
  whistleon-front/src/components/common/EventButton.jsx
  whistleon-front/src/components/common/LinkButton.jsx
  whistleon-front/src/index.js
  whistleon-front/src/style/common/_color.scss
  whistleon-front/src/style/common/_mixin.scss
  whistleon-front/src/style/common/_root.scss
  whistleon-front/src/style/common/event-button.scss
  whistleon-front/src/style/common/input-underline.scss
  whistleon-front/src/style/common/link-button.scss
  whistleon-front/src/style/home.scss
  whistleon-front/src/style/login-view.scss
  whistleon-front/webpack.config.js
Labels: config, convention, frontend

#30 User의 Signup 구현
  whistleon-back/build.gradle
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/CustomException.java
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/ExceptionCode.java
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/GlobalExceptionHandler.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/UserController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/SignupRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/team/Team.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/User.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/UserRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/team/TeamTest.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/user/UserTest.java
Labels: api, backend, signup, spring boot, user

#33 이메일 인증 요청 및 인증 코드 확인 api 생성
  whistleon-back/build.gradle
  whistleon-back/src/main/java/io/hala/whistleon/common/exception/ExceptionCode.java
  whistleon-back/src/main/java/io/hala/whistleon/common/util/MailSendHelper.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/AuthController.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/AuthCode.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/AuthRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserServiceImpl.java
Labels: api, backend, entity, spring boot

#34 User 인증 관련 구현 완료
  whistleon-back/src/main/java/io/hala/whistleon/common/interceptor/JwtInterceptor.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/AuthController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/UserController.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/LoginResponseDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/SigninRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/controller/dto/SignupRequestDto.java
  whistleon-back/src/main/java/io/hala/whistleon/domain/user/UserRepository.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/JwtService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/login/JwtServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/AuthServiceImpl.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserService.java
  whistleon-back/src/main/java/io/hala/whistleon/service/user/UserServiceImpl.java
  whistleon-back/src/test/java/io/hala/whistleon/domain/user/UserTest.java
Labels: api, backend, signin, test code, user

#35 LoginView 컴포넌트 스타일 수정
  whistleon-front/.prettierrc
  whistleon-front/src/style/common/_root.scss
  whistleon-front/src/style/common/event-button.scss
  whistleon-front/src/style/common/input-underline.scss
  whistleon-front/src/style/login-view.scss
Labels: frontend, react, style

#39 회원가입 페이지 디자인
  whistleon-front/package-lock.json
  whistleon-front/package.json
  whistleon-front/src/components/SignupView.jsx
  whistleon-front/src/components/common/PostCode.jsx
  whistleon-front/src/style/common/input-underline.scss
  whistleon-front/src/style/post-code.scss
  whistleon-front/src/style/signup-view.scss
Labels: frontend, react, style

#41 컴포넌트 prop types validation 추가
  whistleon-front/src/components/common/EventButton.jsx
  whistleon-front/src/components/common/InputUnderline.jsx
  whistleon-front/src/components/common/LinkButton.jsx
  whistleon-front/src/style/common/input-underline.scss
Labels: frontend, react, react-router

#43 Root Component Router 설정 및 prop types validation 추가
  whistleon-front/src/components/App.jsx
  whistleon-front/src/components/HomeView.jsx
  whistleon-front/src/components/LoginView.jsx
  whistleon-front/src/index.js
Labels: frontend, react, react-router, validation

#45 SCSS file global scoped에서 component scoped로 변환하기
  whistleon-front/package-lock.json
  whistleon-front/package.json
  whistleon-front/src/components/HomeView.jsx
  whistleon-front/src/components/LoginView.jsx
  whistleon-front/src/components/SignupView.jsx
  whistleon-front/src/components/common/EventButton.jsx
  whistleon-front/src/components/common/InputUnderline.jsx
  whistleon-front/src/components/common/LinkButton.jsx
  whistleon-front/src/components/common/PostCode.jsx
  whistleon-front/src/style/common/event-button.scoped.scss
  whistleon-front/src/style/common/input-underline.scoped.scss
  whistleon-front/src/style/common/link-button.scoped.scss
  whistleon-front/src/style/home.scoped.scss
  whistleon-front/src/style/login.scoped.scss
  whistleon-front/src/style/post-code.scoped.scss
  whistleon-front/src/style/signup.scoped.scss
  whistleon-front/webpack.config.js
Labels: config, frontend, style, webpack
